body{
     background-color: black;



}
header h1 {
   position: fixed;
 top: 0;
  left: 0;
  width: 100%;
  background-color: #f00000;
  color: #0a0a0a;
  padding: 15px;
  text-align: center;       
}


.solo {
    display: flex;
    
}
.dark {
      background: #080808;
      padding-top: 5px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      margin: 20px 20px 20px 20px ;
        border: 3px solid rgb(255, 0, 0);
        cursor: pointer;
      transition:0.4s ease, transform 0.4s ease;
    }
    .dark:hover {
        transform: scale(1.40);
    }